*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.center{
    max-width: 1100px;
    margin:0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap:wrap;
}

.menu-mobile{
    display: none;
}
header{
    background-color: white   ;
    padding:20px 0;
    border-bottom:1px solid rgb(200,200,200);
}

.logo{
    color: #fc0707;

}

.logo h2{
    font-weight: normal;
    font-size: 22px;
}

.menu{
    width:80%;
    text-align: right;
}
.menu a{
    color:#ff0a0a;
   font-size: 14px;
   text-decoration: none;
   margin-right: 20px;
   transition:1s;
}
.menu a:hover{
    color:#960101;
}

.menu .btn-menu{
    background-color:#fa0404;
    display: inline-block;
    padding: 8px 16px;
    color:white;
    border-radius: 6px;
}

.menu .btn-menu:hover{
    background-color: #9e0202;
    color:white;
   
}

/*
 section-main
*/

section.main{
   background-image: url('img/image7.jpg');
  padding: 70px 0;
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.main_cta{
  width: 100%;
  margin: 60px 0;
  text-align: center;
}
.main_cta h2{
    color: #fc0707;
    font-size: 40px;
}
.main_cta p{
    color:rgb(252, 67, 67);
    font-size:19px;
    margin: 10px 0;

}
.main_cta button{
    background-color:#fa0404;
    display: inline-block;
    padding: 8px 30px;
    color:white;
    border-radius: 6px;
    font-size: 16px;
    border:0;
    cursor: pointer ;
}
.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    border-radius:10px;
    background-color: white;
    width: 23%;
    margin-right:2%;
    padding: 50px 20px;
   

}
.diferencial-single i{
    color:#960101;
    font-size: 23px;   
}
.diferencial-single h2{
    color:#960101;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single p{
    color: rgb(252, 67, 67);
    font-size: 14px;
    line-height: 30px;
}
section.sobre{
    padding: 80px 0;
}
.chamada-sobre{
    width:100%;
    text-align:center;
}
.chamada-sobre h2{
    color:#960101;
}
.chamada-sobre p{
    font-size:14px;
    color: gray;
    margin:10px 0;
}
.conteudo-sobre{
    display:flex;
    flex-wrap: wrap;
}
.conteudo-sobre p{
    width:45%;
    margin-right: 2%;
    color:#444444;
}

.conteudo-sobre span{
    display: inline-block;
    width:100%;
    margin-top:10px;

}
.conteudo-sobre i{
    color:#fa0404;
}

section.conquistas{
    background-color:#f8fbfe;
    padding: 20px 0;
}

.conquista-single{
    width:22%;
    margin-right: 3%;
    text-align: center;
    color:red;
}
.conquista-single h2{
    font-size: 30px;
}

.conquista-single img{
    max-width:100%;
       
}

.conquista-single img{
    filter: grayscale(100%);
    transform:scale(1,1);
    transition:1s;
}
.conquista-single img:hover{
    transform:scale(1.1,1.1);
    filter:grayscale(0);     
 }

.menu-items{
    position: absolute;
    left:0;
    top:60px;
    width:100%;
    text-align: center;
    background-color: white;
    border-bottom:2px solid red;
    display: block;
    opacity:0;
    transition: 1s;
}

.menu-items.show{
    opacity: 1;
}
.menu-items.hidde{
    opacity:0;
   
}

.menu-items a{
    display:block;
    text-decoration:none;
    color: red;
}

section.sobre-empreendedor{
    padding:40px 0;
}

.sobre-empreendedor-img{
    width:50%;
}

.sobre-empreendedor-img img{max-width: 100%;}

.sobre-empreendedor-content{
    width:50%;
    padding:0 50px;
}

.sobre-empreendedor-content h2{
    color:red;
    margin-bottom:20px;
}
.sobre-empreendedor-content p{
    color: #444;
    font-size:14px;
    margin-bottom:14px; 
}

@media screen  and (max-width: 768px){
    .diferencial-single{
        width: 100%;
        margin-bottom: 20px;
    }
    .logo{
        width:20%;     
    }
    .menu{
        display:none;

    }
    .menu-mobile{
        width:80%;
        text-align: right;
        display:block;     
    }   
    .menu-mobile i{
        cursor: pointer;
        font-size: 23px;
        margin-top:5px;      
    }
    .conteudo-sobre p{
        width:100%;
        margin: 20px 20px;
    }    
}